<div class="stripe_sidebar_section inboxsdk__tab_icon">
  <!-- <p class="title"><img src="chrome-extension://lepjlhohfgiilhfjppdclfjieanhphoc/images/hr-infinity-logo.png">Active Partners</p> -->
  <%        
    _.each(partner, function(value, key) {
      if (value != "") {
  %>
        <div class="row main">
          <div class="name"><%- value %></div>
          <div class="spacer"></div>          
        </div>

        <div class="row secondary">
          <div class="spacer"></div>          
        </div>
  <%  }
    });
  %>
<div>
